img {
    border-radius: 50%;
    height: 120px;
    border-color: white;
    border-width: 1px;
    border: solid;
}

.photoBox {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin-bottom: 10px;
    }

    h2 {
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    p {
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        width: 500px;
        margin-bottom: 10px;
    }
}

.small {
    img {
        height: 100px;
    }
    h1 {
        font-size: 16px;
        margin-top: 10px;
    }
}


@media (max-width: 600px) {
    
    .small img {
        height: 40px;
        margin: 0px 7px 60px;
    }

    .photoBox h1 {
        display: none;
    }

}
