@use '../../index.scss' as *;

.button {
    background-color: $oxford;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    
    border: none;
    &:hover {
        cursor: pointer;
    }

    svg {
        margin-right: 5px;
    }
    p {
        font-size: 16px;
    }
}

.small {
    display: flex;
    p {
        font-size: 14px;
    }
    align-items: center;
}

.button:hover {
    background-color: $shamrock;
}

.button:disabled {
    background-color: #68707F;
    p {
        color: #3D4148;
    }
    &:hover {
        cursor:default;
    }
}

@media (max-width: 600px) {
    .button {
        padding: 8px 8px 8px 12px;
    }
    .small {
        display: block;
       
        p {
            display: none;
        }
    }
}