@use '../../index.scss' as *;

.reporter {
    margin-top: 19px;
    display: flex;
    align-items: center;
    gap: 20px;
    img {
        height: 50px;
    }
    p {
        font-size: 12px;

        a {
            text-decoration: none;
            color: $shamrock;
        }
    }
}

.feedback {
    margin-bottom: 37px;
}