@use '../../index.scss' as *;


.timeline {
    position: relative;
    min-height: 30vh;
    max-height: 80vh;
    overflow-y: scroll;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: $shamrock;
    top: 0;
    z-index: -1;
    margin-left: 12px;
}

.timeline-error {
    color: red;
    position: absolute;
    top: 25%;
    left: 25%;
}

.loading-container {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
}
.loading{
    color: $shamrock;
    animation: loading 1s linear infinite;
    @keyframes loading {
     0% { 
       transform: rotateZ(0); 
     }
     100% { 
       transform: rotateZ(180deg);
     }
    }
   }
.container {
    position: relative;
    padding-left: 50px;
}

.text-box {
    background-color: #EEEEEE;
    padding: 5px 20px;
    margin-left: 10px;
    position: relative;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 15px;
    h2 {
        font-size: 16px;
    }
    p {
        font-size: 14px;
    }
}

.date {
    position: absolute;
    width: 40px;
    left: -1px;
    top: 17px;
    z-index: 10;
    background-color: white;
    padding: 10px 0;
}



.pointer-arrow {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 24px;
    z-index: -1;
    background-color: #EEEEEE;
    
    transform: rotate(150.5deg) skewX(30deg) scaleY(cos(30deg));
    border-bottom-right-radius: 2px;
    
    // border-top: 10px solid transparent;
    // border-bottom: 10px solid transparent;
    // border-right: 15px solid #EEEEEE;
    left: -7px;
}