@use '../../index.scss' as *;


.skills-container {
    margin-bottom: 20px;
  }
  
  .skill {
    margin-bottom: 5px;
  }
  
  .skill-progress {
    position: relative;
  }
  
  .skill-name {
    position: absolute;
    top: 3px;
    left: 15px;
    font-weight: 400;
    font-size: 16px;
    color: white;
  }
  
  .progress {
    background-color: $shamrock;
    height: 29px;
  }
  
  .breakpoints {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-weight: bold;
    font-size: 12px;
    height: 1px;
    width: 100%;
    background-color: black;
  }
  
  .breakpoint {
    width: 1px;
    background-color: black;
    height: 6px;
    margin-top: -6px;
  }

  .skill-levels {
    display: flex;
    justify-content: space-between;
    p {
        font-size: 12px;
    }
  }
  
  
  