@use '../../index.scss' as *;

.box h1 {
    color: $shamrock;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 40px;
}

.box {
    padding-top: 10px;
    color: $oxford;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    margin-bottom: 30px;
}