@use '../../index.scss' as *;

.portfolio-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card img {
    border: none;
    border-radius: 0;
    width: 240px;
    height: 150px;
    
}

.card {
    width: 240px;
    height: 150px;
    overflow: hidden;
    &:hover {
        .info {
            bottom: 155px;
        }
    }
}

.info {
    position: relative;
    bottom: 5px;
    transition: 0.3s ease;
}

.filter {
    display: flex;
    gap: 5px;
}

.filter-tag {
    color: $oxford;
    cursor: pointer;
}
.selected {
    color: $shamrock;
}
