@use '../../index.scss' as *;


.skills-container {
    margin-bottom: 20px;
    position: relative;
    top: -70px;
  }
  .button-position {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }

  .skill-form {
    padding: 20px 15px;
    border: solid 1px $shamrock;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .form-item {
    display: grid;
    grid-template-columns: 100px 500px;
    margin-bottom: 10px;
    height: 40px;
    align-items: center;
    input {
      padding-left: 10px;
      height: 100%;
      border: solid;
      border-width: 1px;
      border-color: $raven;
      border-radius: 5px;
    }
  }

  .error {
    input {
      border: solid;
      border-width: 1px;
      border-color: red;
      border-radius: 3px;
      color: red;
    }
  }

  .error-message {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
  }
  


  .skill {
    margin-bottom: 5px;
  }
  
  .skill-progress {
    position: relative;
  }
  
  .skill-name {
    position: absolute;
    top: 3px;
    left: 15px;
    font-weight: 400;
    font-size: 16px;
    color: white;
  }
  
  .progress {
    background-color: $shamrock;
    height: 29px;
  }
  
  .breakpoints {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-weight: bold;
    font-size: 12px;
    height: 1px;
    width: 100%;
    background-color: black;
  }
  
  .breakpoint {
    width: 1px;
    background-color: black;
    height: 6px;
    margin-top: -6px;
  }

  .skill-levels {
    display: flex;
    justify-content: space-between;
    p {
        font-size: 12px;
    }
  }

  

  

  
  
  
  