@use '../../index.scss' as *;

.experience {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: 2fr 8fr;
    // grid-column-gap: 30px;
    grid-row-gap: 5px;
    margin-bottom: 30px;
  }
  .date-of-work {
    color: $raven;
    font-size: 16px;
  }
  .description {
    font-size: 14px;
  }
  
  .company,
  .position {
    font-weight: bold;
    font-size: 16px;
  }